.nav.navbar-nav.visible-xs{
  background:#FFFF99;
  font-weight: bold;
  text-align:center;
  font-size:20px;
  font-family: serif;
}
#main-title{
  font-weight: bold;
  font-size:2em;
  font-family:serif;
}
*{
  box-sizing: border-box;
}
#nr1  {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#nr2 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#nr3 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.section { 
  background-color: #D3D3D3;
    border: 2px solid black;
    margin-top: 20px; 
    margin-left: 30px;
    margin-right: 0px; 
    padding: 3px;
    text-align: justify;
    position: relative;
 }
.navber-header{
  background-color: blue; 
}
 @media (min-width: 1200px) {
}
#header-nav {
  height: 70px;
}
.navbar-brand {
    padding-top: 10px;
    height: 70px;
    border-bottom: 20px;
    
    } 
}
@media (min-width: 992px) and (max-width: 1199px) {
#header-nav {
    padding-top: 10px;
    height: 70px; 
    }  
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-nav {
    padding-top: 10px;
    height: 70px; 
    }
  }
  }
/********** Extra small devices only **********/

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 70px;
  }

  .navbar-brand h1 { /* Company's name */
    padding-top: 10px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
}